#ChangeJobButton
{
    padding: 0px;
    font-size: 15px;
}

#jobbItem
{
    padding-top: 10px;
    padding-bottom: 10px;
    
}

#ChangeJobInfoModal
{
    font-size: 10px;
    border: 1px solid black;
    border-radius: 5px;
}