#ChangeJobButton
{
    padding: 0px;
    font-size: 15px;
}

#jobbItem
{
    padding-top: 10px;
    padding-bottom: 10px;
}

#checkboxDiv
{
    height: 40px;
}

.jobCheckbox 
{
    margin-left: 10px;
    margin-right: 10px;
}

#Savebutton 
{
    height: 40px;
}