#ChangeJobButton
{
    padding: 0px;
    font-size: 15px;
    width: 90px;
}

#jobbItem
{
    padding-top: 10px;   
}

#checkboxDiv
{
    height: 40px;
}

.jobCheckbox 
{
    margin-left: 5px;
    margin-right: 5px;
}

#Savebutton 
{
    height: 40px;
}

#modalStyle 
{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}

#storeNumber
{
    font-weight: bold;
}

#storeName
{
    font-weight: bold;
}

#storeStatus
{
    font-weight: bold;
}

@media screen and (max-width: 768px)
{
    #ChangeJobButton
    {
        margin-top: 10px;
        display: inline-block;
        width: 33%;
    }
}