#UpdateButton
{
    display: block;
    float: right;
    margin-right: 175px;
    clear: both;
    margin-bottom: 2%;
    
}

#updateAndNewJob 
{
    margin-bottom: 50px;
}

#newJobButton
{
    margin-right: 20px;
    padding: 5px;
}

#updateJobButton 
{
    margin-left: 20px;
    padding: 5px;
}

#callAKButton
{
    margin-left: 20px;
    padding: 5px;
    color: white;
}

a 
{
    color: white;
    text-decoration: none;
}

a:hover 
{
    color: white;
}

@media screen and (max-width: 768px)
{
    #updateJobButton
    {
        margin-top: 10px;
    }
    #callAKButton 
    {
        margin-top: 10px;
    }
}